<!--
Copyright 2015-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="indexWelcome">
  <h1>Welcome to cbft</h1>
  <div>cbft is a full-text server for couchbase data.</div>
  <div>Please define your first index with the New Index button.</div>
</div>

<style>
.indexWelcome h1, .indexWelcome div {
  margin-bottom: 20px;
}
</style>
