#*
*.out
*.pprof
*.sublime-*
*.tmp
*~
.#*
.project
.settings
.DS_Store
/cbft
/cbft_docs
/data*
/dist/*.gz
/dist/out
/site
/static
/staticx/dist/LICENSE.txt
/staticx/dist/manifest.txt
/staticx/dist/version.txt