<ol class="breadcrumb">
  <li><span class="glyphicon glyphicon-book"></li>
  <li><a href="/indexes">Indexes</a></li>
  <li ng-show="isEdit">{{newIndexName}}</li>
  <li ng-show="!isEdit">New Index</li>
</ol>

<div ng-show="errorMessage" class="alert alert-danger ng-cloak" role="alert">
  {{errorMessage}}
</div>

<form class="form form-horizontal" role="form">
  <div class="form-group">
    <label for="inputIndexName"
           class="col-sm-2 control-label">Index Name</label>
    <div class="col-sm-10">
      <div ng-show="isEdit"
           class="indexName">{{newIndexName}}</div>
      <input ng-show="!isEdit" ng-model="newIndexName"
             type="text" class="form-control"
             id="inputIndexName" placeholder="index-name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputIndexType"
           class="col-sm-2 control-label">Index Type</label>
    <div class="col-sm-10">
      <select ng-model="newIndexType"
        ng-options="indexType as t.description for (indexType, t) in meta.indexTypes">
        <option value="">-- choose index type --</option>
      </select>
    </div>
  </div>
  <div ng-show="newIndexType && newIndexType != 'blackhole'"
       ng-repeat="(indexType, p) in newIndexParams">
    <div class="form-group"
         ng-repeat="(k, v) in p"
         ng-show="newIndexType == indexType">
      <label class="col-sm-4 control-label indexParam">{{k}}</label>
      <div class="col-sm-8">
        <textarea ng-model="newIndexParams[indexType][k]"
                  rows="{{paramNumLines[k]}}"
                  class="form-control"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputSourceType"
           class="col-sm-2 control-label">Source Type</label>
    <div class="col-sm-10">
      <select ng-model="newSourceType"
        ng-options="sourceType as t.description for (sourceType, t) in meta.sourceTypes">
        <option value="">-- choose source type --</option>
      </select>
    </div>
  </div>
  <div class="form-group"
       ng-show="newSourceType && newSourceType != 'nil'">
    <label for="inputSourceName"
           class="col-sm-4 control-label">Source Name</label>
    <div class="col-sm-8">
      <input ng-model="newSourceName"
             type="text" class="form-control" id="inputSourceName"
             placeholder="bucket-name">
    </div>
  </div>
  <div class="form-group"
       ng-show="newSourceType && newSourceType != 'nil'">
    <label for="inputSourceUUID"
           class="col-sm-4 control-label">Source UUID</label>
    <div class="col-sm-8">
      <input ng-model="newSourceUUID"
             type="text" class="form-control" id="inputSourceUUID"
             placeholder="(optional bucket-uuid)">
    </div>
  </div>
  <div class="form-group"
       ng-show="newSourceType && newSourceType != 'nil'">
    <label for="inputSourceParams"
           class="col-sm-4 control-label">Source Params</label>
    <div ng-repeat="(sourceType, p) in newSourceParams" class="col-sm-8">
      <textarea ng-model="newSourceParams[sourceType]"
                rows="{{paramNumLines[sourceType]}}"
                class="form-control"
                ng-show="newSourceType == sourceType"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPlanParams"
           class="col-sm-2 control-label">Plan Params</label>
    <div class="col-sm-10">
      <textarea ng-model="newPlanParams" rows="{{paramNumLines['planParams']}}"
                class="form-control" id="inputPlanParams"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="putIndex(newIndexName, newIndexType, newIndexParams, newSourceType, newSourceName, newSourceUUID, newSourceParams, newPlanParams, prevIndexUUID)"
              type="submit" class="btn btn-default">
        <span ng-show="!isEdit">
          Create Index
        </span>
        <span ng-show="isEdit">
          Update Index
        </span>
      </button>
      <a href="/indexes/">
        <button class="btn btn-cancel">Cancel</button>
      </a>
    </div>
  </div>
</form>

<style>
form .form-group div.indexName {
  padding-top: 7px;
}
form .form-group select {
  margin-top: 7px;
}
form .form-group label.indexParam {
  text-transform: capitalize;
}
</style>

