<h3>Stats</h3>

<div class="indexStats">
  <table>
    <tr>
      <th class="statName">Stat</th>
      <th>Count</th>
      <th>99.9%tile</th>
      <th>99%tile</th>
      <th>95%tile</th>
      <th>75%tile</th>
      <th>Median</th>
      <th>Mean</th>
      <th>Max</th>
      <th>Min</th>
      <th>Stddev</th>
      <th>Rate 1-min</th>
      <th>Rate 5-min</th>
      <th>Rate 15-min</th>
      <th>Rate Mean</th>
      <th class="pindexName">Index Partition</th>
    </tr>
    <tr ng-repeat="(s, ss) in indexStatsFlat">
      <td class="statName">{{ss.statName}}</td>
      <td>{{ss.count}}</td>
      <td>{{ss.percentiles["99.9%"] | number:0}}</td>
      <td>{{ss.percentiles["99%"] | number:0}}</td>
      <td>{{ss.percentiles["95%"] | number:0}}</td>
      <td>{{ss.percentiles["75%"] | number:0}}</td>
      <td>{{ss.percentiles.median | number:0}}</td>
      <td>{{ss.mean | number:0}}</td>
      <td>{{ss.max | number:0}}</td>
      <td>{{ss.min | number:0}}</td>
      <td>{{ss.stddev | number:0}}</td>
      <td>{{ss.rates["1-min"] | number:1}}</td>
      <td>{{ss.rates["5-min"] | number:1}}</td>
      <td>{{ss.rates["15-min"] | number:1}}</td>
      <td>{{ss.rates["mean"] | number:1}}</td>
      <td>{{ss.pindexName}}</td>
    </tr>
    </div>
    </div>
  </table>
</div>

<h3>Errors</h3>

<ul>
  <li ng-repeat="e in indexErrors">
    {{e}}
  </li>
</ul>

<div ng-show="!indexErrors.length" class="indexErrorsEmpty">
  no errors
</div>

<style>
.indexStats td {
  vertical-align: bottom;
}
.indexStats td, .indexStats th {
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}
.indexStats th, .indexStats td {
  white-space: nowrap;
  margin-right: 5px;
}
.indexStats .statName, .indexStats th.pindexName {
  text-align: left;
}
.indexErrorsEmpty {
  font-style: italic;
  padding-left: 5px;
}
</style>
