<table class="table">
  <tr>
    <th>Index Partition</th><th>Source Partitions</th><th>Nodes</th>
  </tr>
  <tr ng-repeat="planPIndex in planPIndexes">
    <td>{{planPIndex.name}}</td>
    <td>{{planPIndex.sourcePartitionsStr}}</td>
    <td>
      <ul>
        <li ng-repeat="(nodeUUID, nodeSpec) in planPIndex.nodes">
          <i class="glyphicon glyphicon-hdd"></i>
          <a href="/nodes/{{nodeDefsByUUID[nodeUUID].hostPort}}">
            {{nodeDefsByUUID[nodeUUID].hostPort}}
          </a>
          {{nodeSpec.canRead && 'R'}}
          {{nodeSpec.canWrite && 'W'}}
          - priority: {{nodeSpec.priority}}
        </li>
      </ul>
    </td>
  </tr>
</table>

<pre nag-prism source="{{planPIndexesStr}}" class="language-javascript"></pre>