<div ng-controller="QueryCtrl">
<form class="navbar-form" role="query">
  <div class="input-group col-lg-12">
    <input ng-model="syntax"
           type="text" class="form-control" placeholder="Query"/>
    <div class="input-group-btn">
      <button class="btn btn-primary" type="submit"
              ng-click="query()">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
  <span class="help-block col-lg-offset-1"></span>
  <div>
    <div class="col-lg-offset-9">
      <label>Advanced:</label>
      <input ng-model="queryAdvancedToggle" type="checkbox"/>
    </div>
    <div ng-show="queryAdvancedToggle" class="col-lg-offset-1 queryAdvanced">
      <div class="row">
        <label class="col-lg-3">Timeout (msecs):</label>
        <input ng-model="timeout" id="timeout"
               class="form-control col-lg-8"/>
      </div>
      <div class="row">
        <label class="col-lg-3">Consistency Level:</label>
        <input ng-model="consistencyLevel" id="consistencyLevel"
               class="form-control col-lg-8"/>
      </div>
      <div class="row">
        <label class="col-lg-3">Consistency Vectors:</label>
        <input ng-model="consistencyVectors" id="consistencyVectors"
               class="form-control col-lg-8"/>
      </div>
    </div>
  </div>
</form>

<style>
.queryAdvanced .row label {
  text-align: right;
}
</style>

<div ng-show="results.hits.length < 1"
     ng-include
     src="'/static/partials/index/query-noresults.html'"></div>
<div ng-show="results.hits.length > 0"
     ng-include
     src="'/static/partials/index/query-results.html'"></div>
