<dl class="dl-horizontal index-summary">
  <dt>Document Count:</dt>
  <dd>{{indexDocCount}}

    <button ng-click="loadIndexDocCount()"
            class="btn btn-default btn-xs">
      <span class="glyphicon glyphicon-refresh"></span>
      Refresh
    </button>
  </dd>

  <hr/>

  <dt>Index Name:</dt>
  <dd>{{indexDef.name}}</dd>
  <dt>Index UUID:</dt>
  <dd>{{indexDef.uuid}}</dd>
  <dt>Index Type:</dt>
  <dd>{{indexDef.type}}</dd>
  <dt>Source Type:</dt>
  <dd>{{indexDef.sourceType}}</dd>
  <dt>Source Name:</dt>
  <dd>{{indexDef.sourceName}}</dd>

  <hr/>

  <dt>Index Definition:</dt>
  <dd>
    <input ng-model="jsonDetails" type="checkbox">
      Show index definition JSON
    </input>
    <pre ng-show="jsonDetails"
         nag-prism source="{{indexDefStr}}" class="language-javascript"></pre>
  </dd>
</dl>

<style>
.index-summary dd {
  margin-bottom: 10px;
}
</style>
