<table class="table">
  <tr>
    <th>Index Partition</th>
    <th>Source Partitions</th>
    <th>Nodes</th>
    <th ng-repeat="nodeAddr in nodeAddrsArr" class="nodeAddr">
      <a href="/nodes/{{nodeAddr}}">{{nodeAddr}}</a>
      <div>&nbsp;&nbsp;</div>
    </th>
  </tr>
  <tr ng-repeat="planPIndex in planPIndexes" class="planPIndex">
    <td>{{planPIndex.name}}</td>
    <td>{{planPIndex.sourcePartitionsStr}}</td>
    <td></td>
    <td ng-repeat="nodeAddr in nodeAddrsArr" class="nodeAddr">
      <div ng-if="planPIndex.nodes[nodeDefsByAddr[nodeAddr].uuid]"
           class="nodeSpecPriority-{{planPIndex.nodes[nodeDefsByAddr[nodeAddr].uuid].priority}}">
        {{(planPIndex.nodes[nodeDefsByAddr[nodeAddr].uuid].canRead && 'r') || '&nbsp;'}}{{(planPIndex.nodes[nodeDefsByAddr[nodeAddr].uuid].canWrite && 'w') || '&nbsp;'}}
      </div>
      </td>
  </tr>
</table>

<style>
tr.planPIndex td {
  white-space: nowrap;
}

th.nodeAddr {
  position: relative;
}
th.nodeAddr a {
  display: block;
  position: absolute;

  -ms-transform: translate(-50%, 0) rotate(-50deg) translate(40%, 0);
  -webkit-transform: translate(-50%, 0) rotate(-50deg) translate(40%, 0);
  transform: translate(-50%, 0) rotate(-50deg) translate(40%, 0);
}
td.nodeAddr div {
  white-space: collapse;
}
th.nodeAddr div, td.nodeAddr div {
  font-family: monospace;
  padding: 3px 4px 3px 4px;
  border-left: 8px solid white;
}
td.nodeAddr div {
  border-left: 8px solid #adadad;
}
.nodeSpecPriority-0 {
  background-color: #81C681;
}
.nodeSpecPriority-1 {
  background-color: #9DEE9D;
}
</style>

<pre nag-prism source="{{planPIndexesStr}}" class="language-javascript"></pre>
