<div ng-controller="SearchCtrl">
<form class="navbar-form searchbox" role="search">
  <div class="input-group col-lg-12">
    <input ng-model="syntax"
           type="text" class="form-control"
           placeholder="Search" name="srch-term" id="srch-term"/>
    <div class="input-group-btn">
      <button class="btn btn-primary" type="submit"
              ng-click="searchSyntax()">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
  <span class="help-block col-lg-offset-1"></span>
  <div>
    <div class="col-lg-offset-9">
      <label>Advanced:</label>
      <input ng-model="searchAdvancedToggle" type="checkbox"/>
    </div>
    <div ng-show="searchAdvancedToggle" class="col-lg-offset-1">
      <div class="row">
        <label class="col-lg-3">Consistency Level:</label>
        <input ng-model="consistencyLevel" id="consistencyLevel"
               class="form-control col-lg-8"/>
      </div>
      <div class="row">
        <label class="col-lg-3">Consistency Vectors:</label>
        <input ng-model="consistencyVectors" id="consistencyVectors"
               class="form-control col-lg-8"/>
      </div>
    </div>
  </div>
</form>

<div ng-show="results.hits.length < 1"
     ng-include
     src="'/static/partials/index/search-noresults.html'"></div>
<div ng-show="results.hits.length > 0"
     ng-include
     src="'/static/partials/index/search-results.html'"></div>
