.highlight {
  background: yellow;
  padding:2px 2px;
}

.logo {
  margin-top: -8px;
  vertical-align: top;
  width: 32px;
  height: 32px;
}

.debug {
  font-family: fixed;
}

.overide-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.overide-brand:hover,
.overide-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .overide-brand,
  .navbar > .container-fluid .overide-brand {
    margin-left: -15px;
  }
}

.navbar-inverse .overide-brand {
  color: white;
}

.swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px 0 0;
}

.label {
  display: inline-block;
}

.line {
  display: inline-block;
  margin: 0 0 0 30px;
}

.legend .label {
  color: black;
}
#legend {
  text-align: center;
}

.rickshaw_graph .detail {
  background: none;
}
.rickshaw_graph .detail .x_label { display: none }

textarea.inactive {
    display: none;
}