<ol class="breadcrumb">
  <li><span class="glyphicon glyphicon-align-left"></li>
  <li><a href="#">Nodes</a></li>
</ol>

<div ng-show="errorMessage" class="alert alert-danger ng-cloak" role="alert">
  {{errorMessage}}
</div>

<table class="table table-striped">
  <tr>
    <th width="99%">Node</th>
    <th></th>
  </tr>
  <tr ng-repeat="(nodeAddr, nodeDef) in resultCfg.nodeDefsKnown.nodeDefs">
    <td>
      <i class="glyphicon glyphicon-hdd"></i>
      <i class="glyphicon glyphicon-check"
         ng-if="resultCfg.nodeDefsWanted.nodeDefs[nodeAddr]"></i>
      <i class="glyphicon glyphicon-unchecked"
         ng-if="!resultCfg.nodeDefsWanted.nodeDefs[nodeAddr]"></i>
      <a href="/nodes/{{nodeAddr}}">{{nodeAddr}}</a>
    </td>
  </tr>
</table>
