<div ng-show="errorMessage" class="alert alert-danger ng-cloak" role="alert">
  {{errorMessage}}
</div>

<div class="searchBar row">
  <div class="col-sm-6">
    <select ng-disabled="!indexNames"
            ng-model="searchBarIndex"
            ng-options="t for t in indexNames"
            class="form-control">
      <option value="">-- choose full text index or alias --</option>
    </select>
  </div>
  <div class="col-sm-6">
   <div class="input-group">
    <input ng-disabled="!indexNames || !searchBarIndex"
           ng-model="searchBarInput"
           type="text"
           class="form-control"
           placeholder="search for..."/>
    <div class="input-group-btn">
      <button class="btn btn-primary" type="submit"
              ng-disabled="!indexNames || !searchBarIndex"
              ng-click="searchBarRun(searchBarIndex, searchBarInput)">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
   </div>
  </div>
</div>

<div>
 <div class="listIndexes">
  <div class="row">
    <a href="/indexes/_new?indexType=fulltext-index&sourceType=couchbase"
       class="pull-right">
      <button class="btn btn-default btn-sm pull-right" type="submit">
        <i class="glyphicon glyphicon-plus"></i> New Full Text Index
      </button>
    </a>
    <span class="navbar-text">Full Text Indexes</span>
  </div>

  <table class="table table-striped">
    <tr>
        <th nowrap>Name</th>
        <th nowrap width="99%">Bucket</th>
        <th nowrap></th>
    </tr>
    <tr ng-repeat="(indexName, indexDef) in indexDefs"
        ng-if="indexDef.type != 'fulltext-alias'">
        <td nowrap><a href="/indexes/{{indexName}}">{{indexName}}</a></td>
        <td nowrap>
          <span ng-if="indexDef.sourceType != 'couchbase'">
            {{indexDef.sourceType}}
            &nbsp;/&nbsp;
          </span>
          {{indexDef.sourceName}}
        </td>
        <td nowrap>
            <button ng-click="editIndex(indexName)"
                    type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-edit"></span> edit
            </button>
            <button ng-click="cloneIndex(indexName)"
                    type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> clone
            </button>
            <button ng-click="deleteIndex(indexName)"
                    type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
  </table>
 </div>

 <div class="listIndexAliases">
  <div class="row">
    <a href="/indexes/_new?indexType=fulltext-alias&sourceType=nil"
       class="pull-right">
      <button class="btn btn-default btn-sm pull-right" type="submit">
        <i class="glyphicon glyphicon-plus"></i> New Full Text Alias
      </button>
    </a>
    <span class="navbar-text">Full Text Aliases</span>
  </div>

  <table class="table table-striped">
    <tr>
        <th nowrap>Name</th>
        <th nowrap width="99%">Target Full Text Indexes</th>
        <th nowrap></th>
    </tr>
    <tr ng-repeat="(indexName, indexDef) in indexDefs"
        ng-if="indexDef.type == 'fulltext-alias'">
        <td nowrap><a href="/indexes/{{indexName}}">{{indexName}}</a></td>
        <td>
          <span ng-repeat="(targetName, targetObj) in indexDef.paramsObj.targets">
            <a href="/indexes/{{targetName}}">
              {{targetName}}</a><span ng-show="!$last">, </span>
          </span>
        </td>
        <td nowrap>
            <button ng-click="editIndex(indexName)"
                    type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-edit"></span> edit
            </button>
            <button ng-click="cloneIndex(indexName)"
                    type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> clone
            </button>
            <button ng-click="deleteIndex(indexName)"
                    type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
  </table>
 </div>
</div>

<style>
.searchBar, .listIndexes {
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
}

.listIndexes > .row, .listIndexAliases > .row {
  margin-right: 10px;
}

.listIndexes table, .listIndexAliases table {
  border: 1px solid #ddd;
}

.listIndexes table tr td, .listIndexesAliases table tr td,
.listIndexes table tr th, .listIndexesAliases table tr th {
  white-space: nowrap;
}
</style>
